{% extends 'school_admin/base.html' %}
{% block content %}
<h3 class="p-3">請求一覧</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>顧客名</th>
      <th>ジャンル</th>
      <th>合計レッスン数</th>
      <th>請求金額</th>
    </tr>
  </thead>
  <tbody>
    {% for i_list in　invoice_list %}
    <tr>
      <td>{{ i_list.id }}</td>
      <td>{{ i_list.user }}</td>
      <td>{{ i_list.lesson }}</td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="list-inline p-3">
  <li class="list-inline-item"><a href="{% url 'school_admin:index' %}">戻る</a></li>
</ul>

{% endblock %}
